/data
*.ncb
*.opt
*.plg
*.suo
*.vcproj.*.*.user
Win32_LIB_ASM_Debug
Win32_LIB_ASM_Release
*.bsc
/SRB2.layout
/SRB2.depend
/src/comptime.h
*.dgb
*.debug
*.debug.txt
bin/Linux/Release/lsdlsrb2.debug.txt.gz
src/comptime.c
/build
src/comptime.c
objs/djgppdos/Release/depend.ped
CMakeCache.txt
drill.dta
fmod.dll
knux.plr
music.dta
r_opengl.dll
rings.wpn
sdllog.txt
soar.dta
SOCEdit.exe
sonic.plr
srb2.srb
SRB2Src.exe
srb2win.exe
tails.plr
zones.dta
scr_mysticrealm0.ssg
